* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-font: 'Roboto', sans-serif;
  --primary-dark: #1b1b1b;
  --primary-light: #fff;
  --primary-light-gray: #cdcdcd;
  --primary-hover: #343078;
  --primary-color: #3b3b98;
  --layout-max-width: 1550px;
  --layout-gutter: 30px;
}

h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-dark);
  margin: 0;
}

h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-dark);
  margin: 0;
}

h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-dark);
  margin: 0;
}

h4 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary-dark);
  margin: 0;
}

h5 {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--primary-dark);
  margin: 0;
}

p,
span,
a,
label {
  font-size: 18px;
  line-height: 32px;
  color: var(--primary-dark);
  font-weight: 400;
  text-decoration: none;
}

.portfolio-link:hover {
  cursor: pointer;
}

body {
  font-family: var(--main-font);
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

.content-container {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 0 var(--layout-gutter);
}

.text-container {
  padding: 100px 0;
}

.text-block h2,
.text-block h3 {
  margin-bottom: 30px;
}

.grid-1-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 60px;
  grid-auto-rows: max-content;
  grid-row-gap: 0px;
  margin: 30px 0 100px 0;
}

.grid-1-5 .description {
  grid-column: 1 / 4;
}

.grid-1-5 .additional-info {
  grid-column: 4 / 6;
  display: grid;
  /* make content fill the grid dynamically */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.navigation {
  background-color: #ffffff;
  padding: 40px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

a.navigation-item {
  font-size: 30px;
  color: var(--primary-light-gray);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 10px;
}

a.nuxt-link-exact-active {
  color: var(--primary-dark);
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-item {
  position: relative;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(50% - 8px);
  object-fit: cover;
  margin-bottom: 16px;
}

.width-3_4 {
  width: calc(75% - 8px);
  padding: 200px 0 250px;
}

.portfolio-item:nth-child(1),
.portfolio-item:nth-child(4n) {
  width: 100%;
}

.portfolio-item video {
  width: 100%;
}

video {
  min-height: 100%;
  min-width: 100%;
}

.portfolio-item-content {
  z-index: 1;
  position: absolute;
  bottom: 40px;
  left: 50px;
}

.portfolio-item-content h2,
.portfolio-item-content h4 {
  color: var(--primary-light);
}

.portfolio-item-content h5 {
  color: var(--primary-light-gray);
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

iframe {
  width: 100%;
  height: 100%;
}

pad {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 0px);
  transition: all 0.5s ease-in-out;
  z-index: 0;
}

.embed-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embed-container--bottom {
  z-index: 10;
  animation: moveDown 1s ease-in-out;
}

@keyframes moveDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-container video {
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
  min-width: 100%;
  min-height: 100%;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 70px 0;
}

.grid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* make first child and every forth child full width */
.grid-container > *:nth-child(3n) {
  width: 100%;
}

.grid-image {
  width: calc(50% - 8px);
  object-fit: cover;
  margin-bottom: 16px;
}

.grid-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h5.highlight {
  color: #009ee3;
}

.portfolioSwitcher {
  position: sticky;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
}

.portfolioSwitchContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.closeBtn {
  line-height: 0px;
}

.footer {
  padding: 50px 0;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-content-item {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.flex-start {
  display: flex;
  justify-self: flex-start;
  align-items: flex-end;
}

.flex-end {
  display: flex;
  justify-self: flex-end;
  align-items: center;
}

.contact-data {
  padding: 20px 0 0 50px;
}

.row {
  display: flex;
  flex-direction: row;
}

.portfolio-bg {
  height: 95vh;
  width: 100%;
  display: flex;
  object-fit: cover;
}

form {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.half {
  width: 49%;
  margin: 0 0 1rem 0;
}

.full {
  width: 100%;
  margin: 0 0 1rem 0;
}

input,
textarea {
  padding: 10px;
  border: 2px solid #000;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

label {
  margin-bottom: 10px;
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.burger {
  display: none;
}

@media (max-width: 1300px) {
  h5 {
    font-size: 20px;
    line-height: 25px;
  }

  h4 {
    font-size: 25px;
    line-height: 30px;
  }

  h3 {
    font-size: 30px;
    line-height: 35px;
  }

  h2 {
    font-size: 35px;
    line-height: 42px;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .burger-line {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 3px 0;
  }

  .navigation-items {
    display: none;
  }

  .navigation-container {
    padding: 0 !important;
  }

  .navigation {
    padding: 30px;
  }

  .navigation.active {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #ffffff;
  }

  .navigation.active .navigation-items {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    left: 20px;
  }

  .navigation-items a {
    margin-top: 15px;
  }

  .text-container {
    padding: 50px 0;
  }

  .footer {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .flex-start {
    flex-direction: column;
    align-items: flex-start;
  }

  .flex-end {
    align-items: flex-start;
  }

  .footer-content-item {
    margin: 10px 0;
  }

  .flex-end .footer-content-item {
    width: 50px;
  }

  .footer-content-item img {
    width: 30px;
    height: 30px;
  }

  .content-container {
    margin: unset;
  }

  .flex-start svg {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .portfolio-item-content {
    left: 20px;
    bottom: 20px;
  }

  .portfolio-item,
  .grid-image {
    width: 100%;
  }

  .width-3_4 {
    width: 100%;
    padding: 50px 0;
  }

  .row {
    flex-direction: column;
  }

  input.half {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .contact-data {
    display: none;
  }

  .portfolio-bg {
    height: auto;
    width: auto;
    display: flex;
    margin: 0 auto;
  }

  .portfolio-background {
    display: flex;
    background-position: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
  }

  .content-container {
    padding: 50px var(--layout-gutter);
  }

  .grid-1-5 {
    display: flex;
    flex-direction: column;
    margin: 30px 0 30px 0;
  }

  .grid-1-5 .description {
    margin-bottom: 50px;
  }
}

@media (max-width: 900px) {
  .portfolio-bg {
    min-height: 400px;
    height: 500px;
    width: auto;
    display: flex;
    margin: 0 auto;
  }
}
